.retangulo {
    padding-top: 2px;
    margin-top: 40px;
    background-color: green;
    width: 470px;
    height: 300px;
}

.losangulo {
    width: 470px;
    height: 300px;
    background-color: yellow;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bola {
    background-color: blue;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}