.Bandeira {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid black;
}

.fxvermelha {
    flex:1;
    background-color: brown;
}

.fxbranca {
    flex: 1;
    background-color: aliceblue;

}

.quadrado-azul {
    width: 150px;
    height: calc(100%/13*7);
    background-color: darkblue;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    box-sizing: border-box;
    gap: 7px;
}

.estrela {
    width: 7px;
    height: 7px;
    background-color: white;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
}